<!DOCTYPE html>
<html ng-app="transPoolApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TransPool</title>
    <link rel="stylesheet" href="../../../common/bootstrap.min.css">
    <link rel="stylesheet" href="signup.css">

</head>

<body ng-controller="signUpCtrl">
<div class="container">
    <h1>Welcome to the TransPool App</h1>

    <h2>Please insert the following details to sign in:</h2>
        Please enter a unique user name:
        <input type="text" id="userName" ng-model="userLoginNameModel" name="userName" class=""/>
        <br>
        <br>
        Please choose a passenger type: &nbsp;
        <select id="userType" name="userType" ng-model="userTypeModel"  selected="selected" style="width:150px; ">
            <option ng-selected="true">Passenger type</option>
            <option value="requestPassenger">request passenger</option>
            <option value="suggestPassenger">suggest passenger</option>
        </select>
        <br>
        <br>



        <button ng-click="getUserSignInDetailsAndRedirect()" style="color:#0000FF; width: 80px; height:40px">
            Sign In
        </button>
    <br>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<!-- Load the JS Module -->
<script src="signup.js"></script>


</body>
</html>