<!DOCTYPE html>
<html ng-app="transPoolApp" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TransPool</title>
    <link rel="stylesheet" href="../../../common/bootstrap.min.css">
    <link rel="stylesheet" href="userDetailsCSS.css">


</head>
<body>
<div class="container" ng-controller="userDetailsCtrl" >
    <br>
    <h1>Welcome to the User Details Page</h1>

    <h3>
        Curr User In The System: <div id="userName">{{userNameInUserPage}}</div>
    </h3>

    <br>
    <br>

    <button type="button" class="userBalanceCollapsible">User Balance Section</button>
    <div class="userBalanceContent">
        <p>
            <br>
            <label>Loading balance account:</label>
            <input type="text" id="userLoadingAccountBalance" name="userLoadingAccountBalance" style="width: 70px;">
            &emsp;<button ng-click="loadAccountBalanceAction()" style="color:#0000FF;">
            Load
        </button>
            <br>

            <label>Account Balance : {{userLoadingAccountBalance}} </label>
            <br>

            <br>
            <br>
            <label>User Transactions History Table:</label>
        <table id="userTransactionsHistoryTable">
            <thead>
            <tr align="center">
                <th>Transactions Type</th>
                <th>Date</th>
                <th>Action Amount</th>
                <th>Amount Before Action</th>
                <th>Amount After Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr ng-repeat="userTransactionsHistory in userTransactionsHistoryTable">
                <td class="noBorder">{{userTransactionsHistory.type}}</td>
                <td class="noBorder">{{userTransactionsHistory.date}}</td>
                <td class="noBorder">{{userTransactionsHistory.actionAmount}}</td>
                <td class="noBorder">{{userTransactionsHistory.amountBeforeAction}}</td>
                <td class="noBorder">{{userTransactionsHistory.amountAfterAction}}</td>
            </tr>
            </tfoot>
        </table>

        </p>
    </div>




    <form action="FileUpload" enctype="multipart/form-data" method="POST">
        <div>
            <br>
            <br>
            <br>
            <h4 style="display: inline">Select a map name:</h4>
            <input type="hidden" name="userName" value={{userNameInUserPage}}>
            <input type="text" name="map_name" required/>
            <input type="file" name="file" required>
        </div>

        <input type="Submit" value="Upload File">
    </form>


    <h3>
        Map details arrange in the system:
    </h3>
    <table id="totalMapsInTheSystem">
        <thead>
        <tr align="center">
            <th>User Name </th>
            <th>Map Unique Name</th>
            <th>Total Stations</th>
            <th>Total Roads</th>
            <th>Total Trips Suggests Per Map</th>
            <th>Total Trips Requests Per Map</th>
            <th>Matched Trip Request Quantity</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-repeat="map in totalMapsInTheSystem">
            <td class="noBorder">{{map.userName}}</td>

            <td class="block">
                <button ng-click="redirectToMapPageApi(map.mapName)" style="color:#0000FF;">
                    {{map.mapName}}
                </button>
            </td>


            <td class="noBorder">{{map.stationsQuantity}}</td>
            <td class="noBorder">{{map.roadsQuantity}}</td>
            <td class="noBorder">{{map.tripSuggestsQuantity}}</td>
            <td class="noBorder">{{map.tripRequestQuantity}}</td>
            <td class="noBorder">{{map.matchedTripRequestQuantity}}</td>
        </tr>
        </tfoot>
    </table>



</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script>
    var coll = document.getElementsByClassName("userBalanceCollapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<!-- Load the JS Module -->
<script src="userDetails.js"></script>
</body>
</html>