<!DOCTYPE html>
<html ng-app="transPoolApp" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TransPool</title>
    <link rel="stylesheet" href="../../../common/bootstrap.min.css">
    <link rel="stylesheet" href="mapDetails.css">


</head>
<body>
<div style="resize: both; overflow: auto;" class="container" ng-controller="mapDetailsCtrl" ng-init="initMapDetailsPage()">
    <br>
    <h1>Welcome to the Map Details Page</h1>


    <br>
    <button type="button" class="collapsible">Add New Suggest Trip</button>
    <div class="content">
        <p>
        <form action="/action_page.php" style="margin-top: 10px">
            <label > User Suggest Name:</label>
            <input type="text" id="userSuggestName" name="userSuggestName" style="width: 70px;">
            &emsp;
            <label> Route:</label>
            <input type="text" id="userSuggestRoute" name="userSuggestRoute" style="width: 70px;">

        <label> Departure Day: </label>
        <input type="text" id="userSuggestDepartureDay" name="userSuggestDepartureDay" style="width: 70px;">
        &emsp;
        <br>

            <label> Departure Time - "00:00"</label>
            <input type="text" id="userSuggestDepartureTime" name="userSuggestDepartureTime" style="width: 70px;">

        <label> Schedule Int </label>
        <input type="text" id="userSuggestScheduleInt" name="userSuggestScheduleInt" style="width: 70px;">
        &emsp;
        &emsp;
            <label> PPK:</label>
            <input type="text" id="userSuggestPPK" name="userSuggestPPK" style="width: 70px;">

        <br>
            &emsp;
            <label> Passenger Capacity:</label>
            <input type="text" id="userSuggestPassengerCapacity" name="userSuggestPassengerCapacity" style="width: 70px;">
            <br>

            <div style="margin-top: 10px;"  ng-click="addNewSuggestTrip()" class="button_cont">
                <a class="example_d"   href="add-website-here" target="_blank"
                   rel="nofollow noopener">Add</a></div>
        </form>
        </p>
    </div>


        <table id="tripSuggestListPerMap">
        <thead>
        <tr align="center">
            <th>Trip Suggest ID</th>
            <th>Passengers Names</th>
            <th>Trip Day</th>
            <th>Source Station</th>
            <th>Destination Station</th>
            <th>Driver Rating Avg</th>
            <th>Rating Quantity</th>
            <th>Rating Notes</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-repeat="suggestTrip in tripSuggestListPerMap">
            <td class="noBorder">
                <button ng-click="highlightTripDetailsForTripSuggest(suggestTrip.suggestID)">
                    {{suggestTrip.suggestID}}</button>
            </td>
            <td class="noBorder"> {{suggestTrip.passengersNames}} </td>
            <td class="noBorder"> {{suggestTrip.tripDay}} </td>
            <td class="noBorder"> {{suggestTrip.sourceStation}} </td>
            <td class="noBorder"> {{suggestTrip.destinationStation}} </td>
            <td class="noBorder"> {{suggestTrip.ratingAvg}} </td>
            <td class="noBorder"> {{suggestTrip.ratingQuantity}} </td>
            <td class="noBorder"> {{suggestTrip.ratingNotes}} </td>

        </tr>
        </tfoot>
    </table>

    <br>
    <br>

    <button type="button" class="collapsible">Add New Request Trip</button>
    <div class="content">
    <p>

    <form action="/action_page.php" style="margin-top: 10px">
        <label> User Request Name:</label>
        <input type="text" id="userRequestName" name="userRequestName" style="width: 70px;">
        &emsp;
        <label> Source station:</label>
        <input type="text" id="userRequestSourceStation" name="userRequestSourceStation" style="width: 70px;">
        &emsp;
        <label> Destination station:</label>
        <input type="text" id="userRequestDestinationStation" name="userRequestDestinationStation" style="width: 70px;">

        <br>&emsp;

        <label>Time - "00:00"</label>
        <input type="text" id="userRequestTimeParam" name="userRequestTimeParam" style="width: 70px;">

        <label>Departure/Arrival</label>
        <select id="userRequestArrivalOrStart" name="userRequestArrivalOrStart"  selected="selected" style="width:140px; ">
            <option ng-selected="true">Departure or Arrival</option>
            <option value="userRequestDeparture">Departure</option>
            <option value="userRequestArrival">Arrival</option>
        </select>

        <label> Request Day:</label>
        <input type="text" id="userRequestDay" name="userRequestDay" style="width: 70px;">
        &emsp;
        <div style="margin-top: 10px;"  ng-click="addNewRequestTrip()" class="button_cont"><a class="example_e" href="add-website-here" target="_blank"
                                                                                              rel="nofollow noopener">Add</a></div>
    </form>
    </p>
    </div>



     <table id="tripRequestListPerMap">
            <thead>
            <tr align="center">
                <th>Trip Request ID</th>
                <th>Owner Name</th>
                <th>Source Station</th>
                <th>Destination Station</th>
                <th>Is Matched</th>
                <th>Road Trip</th>

            </tr>
            </thead>
            <tfoot>
            <tr ng-repeat="requestTrip in tripRequestListPerMap">
                <td class="noBorder">
                    <button ng-click="matchingAndHighlightTripDetailsForTripRequest(requestTrip.requestId)">{{requestTrip.requestId}} </button></td>
                <td class="noBorder"> {{requestTrip.tripOwnerName}} </td>
                <td class="noBorder"> {{requestTrip.sourceStation}} </td>
                <td class="noBorder"> {{requestTrip.destinationStation}} </td>
                <td class="noBorder"> {{requestTrip.isMatched}} </td>
                <td class="noBorder"> {{requestTrip.roadTrip}} </td>

            </tr>
            </tfoot>
        </table>


    <h2> Map description:
        <div id = "graphDesc">

        </div></h2>


    <br>
    <br>
    <br>
    <br>
    <br>


</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<!-- Load the JS Module -->
<script src="mapDetails.js"></script>
</body>
</html>