<!DOCTYPE html>
<html ng-app="userDetails" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TransPool</title>
    <link rel="stylesheet" href="../../../common/bootstrap.min.css">
    <link rel="stylesheet" href="mapDetails.css">


</head>
<body>
<div class="container" ng-controller="mapDetailsCtrl" ng-init="initMapDetailsPage()">
    <br>
    <h1>Welcome to the Map Details Page</h1>


    <h3>Map:</h3>


    <br>
    <h3>Trip Suggest List: <button ng-click="addNewSuggestTrip()">Add New Suggest Trip</button></h3>
        <table id="tripSuggestListPerMap">
        <thead>
        <tr align="center">
            <th>Trip Suggest ID</th>
            <th>Passenger Names</th>
            <th>Join Date</th>
            <th>Source Station</th>
            <th>Destination Station</th>
            <th>Driver Rating</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-repeat="suggestTrip in tripSuggestListPerMap">
            <td class="noBorder">
                <button ng-click="highlightAndDisplayTripDetailsOnTheMap()">{{suggestTrip.suggestID}}</button>
            </td>
            <td class="noBorder"> {{requestTrip.passengerNames}} </td>
            <td class="noBorder"> {{requestTrip.destinationStation}} </td>
            <td class="noBorder"> {{requestTrip.isMatched}} </td>
            <td class="noBorder"> {{requestTrip.matchTrip}} </td>
            <td class="noBorder">
                <button ng-click="displayDriverRating()">{{requestTrip.driverRating}}</button>
            </td>
        </tr>
        </tfoot>
    </table>

    <br>
    <br>

    <h3>Trip Request List: <button ng-click="addNewRequestTrip()">Add New Request Trip</button></h3>
        <table id="tripRequestListPerMap">
            <thead>
            <tr align="center">
                <th>Trip Request ID</th>
                <th>Owner Name</th>
                <th>Source Station</th>
                <th>Destination Station</th>
                <th>Is Matched</th>
                <th>Road Trip</th>
            </tr>
            </thead>
            <tfoot>
            <tr ng-repeat="requestTrip in tripRequestListPerMap">
                <td class="noBorder">
                    <button ng-click="displayAllPassengersDetailsPerTripRequest()">{{requestTrip.requestID}}</button>
                </td>

                <td class="noBorder"> {{suggestTrip.ownerName}} </td>
                <td class="noBorder"> {{suggestTrip.sourceStation}} </td>
                <td class="noBorder"> {{suggestTrip.destinationStation}} </td>
                <td class="noBorder"> {{suggestTrip.isMatched}} </td>
                <td class="noBorder"> {{suggestTrip.matchTrip}} </td>

            </tr>
            </tfoot>
        </table>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<!-- Load the JS Module -->
<script src="mapDetails.js"></script>
</body>
</html>