<!DOCTYPE html>
<html ng-app="transPoolApp" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TransPool</title>
    <link rel="stylesheet" href="../../../common/bootstrap.min.css">
    <link rel="stylesheet" href="mapDetails.css">


</head>
<body>


<div style="resize: both; overflow: auto;" class="container" ng-controller="mapDetailsCtrl" ng-init="initMapDetailsPage()">
    <br>

    <form>
    <h1>Potential Suggested Trips To Choose</h1>

    {{myvar}}

    <br>
    {{requestId}}


    Please insert desired number of potential Suggested Trips:
    <input type="text" id="numOfPotentSuggTrips" name="numOfPotentSuggTrips" style="width: 70px;">
    &emsp;<button ng-click="matchingAndHighlightTripDetailsForTripRequest(myvar)" style="color:#0000FF;">
    Show
</button>

    </form>

    <table id="potentialSuggestedTrips">
        <thead>
        <tr align="center">
            <th>Trip Suggest ID</th>
            <th>Road Story</th>

        </tr>
        </thead>
        <tfoot>
        <tr ng-repeat="potentialTrip in potentialSuggestedTrips">
            <td class="noBorder">
                <button style="width: 150px" ng-click="matchAction(potentialTrip.index)">  {{potentialTrip.index}}</button>
            </td>
            <td class="noBorder"> {{potentialTrip.roadStory}} </td>
        </tr>
        </tfoot>
    </table>


    <br>
    <br>
    <br>
    <br>
    <br>


</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script>

</script>
<!-- Load the JS Module -->
<script src="mapDetails.js"></script>
</body>
</html>